html, body {
	padding-top: 15vh;
	margin: 0;
	background-color: black;
	width: 100vw;
	height: 92vh;
	color: white;
	overflow: hidden;
	font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
div#title {
	text-align: center;
	top: 0;
	width: 100vw;
	height: 20vh;
	font-size: 13vh;
	line-height: 20vh;
	position: fixed;
	font-weight: lighter;
}
div#subtitle {
	text-align: center;
	top: 10vh;
	width: 100vw;
	height: 20vh;
	font-size: 4vh;
	line-height: 20vh;
	position: fixed;
	font-weight: lighter;
}
div.button, input.button {
	background: linear-gradient(#EEE, #BBB);
	width: 39.5vw;
	margin-left: 7vw;
	padding: 0;
	height: 16vh;
	margin-top: 5vh;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 7vh;
	text-align: center;
	color: #333;
	font-size: 6vmin;
	border: none;
}
div.button:hover, input.button:hover {
	background: linear-gradient(#CCC, #999);
}